<%- model_class = @listing.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<div id="notice"><%= notice %></div>

<div class="container">
	<div class="hero-unit">

	<% if @listing.ltype %>
		<h1 class="pull-left"><%= @listing.address %></h1>
	<% else %>
		<h1 class="pull-left"><%= @listing.aptnum %>
		<%= @listing.building_name %></h1>
	<% end %>

	<h2><%= link_to 'Update Listing', edit_listing_path(@listing), :class => "pull-right" %></h2>
	<br /><br /><br />
	<hr style="border: 1px solid black;"/>

	<div class="row">
		<div class="span2">
			<!-- image stuff went here -->
			
			<br /><br />
			<h1>MAP SPACE</h1>
		</div><!--./span3 -->

		<div class="span8">
			<div class="form-horizontal">
				<fieldset>
					<legend><h2>Residence Properties</h2></legend>
					<div class="row">
					<div class=span4>
						<div class="control-group">
							<label class="control-label"><h3>Landlord:</h3></label>
								<div class="controls">
									<br />
									<% unless @listing.landlord_id.nil? %> 
										<% landlord = get_landlord(@listing.landlord_id) %>
										<label>
											<b><em>Name:</em></b> <%= landlord.name %>
										</label>
										<label>
											<b><em>Email:</em></b> <%= landlord.email %>
										</label>
										<label>
											<b><em>Phone:</em></b> <%= ActionController::Base.helpers.number_to_phone(landlord.phone) %>
										</label>
									<% else %>
										<label>
			    							Not available yet.
										</label>
		    						<% end %>
								</div>
						</div>
						<div class="control-group">
							<label class="control-label"><h3>Location:</h3></label>
								<div class="controls">
									<br />
									<label>
										<b><em>Address:</em></b> <%= @listing.address %>
									</label>
									<label>
										<b><em>City:</em></b> <%= @listing.city %><br />
									</label>
									<label>
										<b><em>State:</em></b> <%= @listing.state %><br />
									</label>
									<label>
										<b><em>Zip:</em></b> <%= @listing.zip %><br />
									</label>
									<% if !@listing.ltype %> 
										<label>
											<b><em>Apartment Number:</em></b> <%= @listing.aptnum %><br />
										</label>
									<% end %>
								</div>
						</div>
						<div class="control-group">
							<label class="control-label"><h3>Price:</h3></label>
								<div class="controls">
									<br />
									<label>
										<b><em>Monthly Rent:</em></b> $<%= @listing.rent %>
									</label>
								</div>
						</div>
						<div class="control-group">
							<label class="control-label"><h3>Type of Residence:</h3></label>
								<div class="controls">
									<br />
									<label>
										<% if @listing.ltype.nil? %>
											<b>Unknown...</b>
										<% else %>
											<b><%= format_type(@listing.ltype) %></b>
										<% end %>
									</label>
								</div>
						</div>
						<div class="control-group">
							<label class="control-label"><h3>Size:</h3></label>
								<div class="controls">
									<br />
									<label>
										<b><em>Bedrooms:</em></b> <%= @listing.bedrooms %>
									</label>
									<label>
										<b><em>Bathrooms:</em></b> <%= @listing.bathrooms %>
									</label>
									<label>
										<b><em>Square feet:</em></b> 
										<% if @listing.squarefeet.nil? %>
											Unknown...
										<% else %>
											<%= @listing.squarefeet %>
										<% end %>
									</label>
								</div>
						</div>
					</div><!--./span4 -->
					<div class="span4">
						<div class="control-group">
							<label class="control-label"><h3>Lease:</h3></label>
								<div class="controls">
									<br />
									<label>
										<% if @listing.length.nil? %>
											<b><em>Length:</em></b> Unknown...
										<% else %>
											<b><em>Length:</em></b> <%= @listing.length %> months
										<% end %>
									</label>
								</div>
						</div>
						<div class="control-group">
							<label class="control-label"><h3>Utilities:</h3></label>
								<div class="controls">
									<br />
									<label>
										<b><em>Heat:</em></b> <%= format_util(@listing.heat) %>
									</label>
									<label>
										<b><em>Electric:</em></b> <%= format_util(@listing.electric) %>
									</label>
									<label>
										<b><em>Gas:</em></b> <%= format_util(@listing.gas) %>
									</label>
									<label>
										<b><em>Garbage Collection:</em></b> <%= format_util(@listing.garbagecollection) %>
										<% if(@listing.garbagecollection) %>
											handled by the landlord.
										<% else %>
											not handled by the landlord.	
										<% end %>
									</label>
								</div>
						</div>
						<div class="control-group">
							<label class="control-label"><h3>Accommodations:</h3></label>
							<div class="controls">
								<br />
								<label>
									<% acc = { "Parking" => @listing.parking } %>
									<em><%= format_accomodations(acc) %></em>
								</label>
								<label>
									<% acc = { "Laundry" => @listing.laundry } %>
									<em><%= format_accomodations(acc) %></em>
								</label>
								<label>
									<% acc = { "Furnished" => @listing.furnished } %>
									<em><%= format_accomodations(acc) %></em>
								</label>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"><h3>Restrictions:</h3></label>
							<div class="controls">
								<br />
								<label>
									<% restriction = { "Smoking" => @listing.smoking } %>
									<em><%= format_restrictions(restriction) %></em>
								</label>
								<label>
									<% restriction = { "Pets" => @listing.pets }%>
									<em><%= format_restrictions(restriction) %></em>
								</label>
							</div>
						</div>
					</div><!--./span4 -->
					</div><!--./row -->
				</fieldset>
			</div><!--./form-horizontal -->
		</div><!--./span3 -->
	</div><!--./row -->
	<br />
	<div class="row">
		<div class="span7">
			<!-- reviews area -->
			
      	</div><!--./span7 -->
      	<div class="span3">
      		<section class="flag_listing">
				<p>Is the information for this listing inaccurate or abusive? If so, use the button below to flag the listing. If several people flag it we'll take a look. Thank you!</p>
				<%= form_tag increment_flag(@listing), :method => "post", :id => "FlagButton" do %>
					<%= submit_tag("Flag", :class => "btn-large btn-danger")%>
				<% end %>
			</section>
		</div><!--./span3 -->
	</div><!--./row -->
	</div><!--./hero-unit -->


