<%- model_class = @listing.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @listing.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @listing.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @listing.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%= @listing.zip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bathrooms) %>:</strong></dt>
  <dd><%= @listing.bathrooms %></dd>
  <dt><strong><%= model_class.human_attribute_name(:bedrooms) %>:</strong></dt>
  <dd><%= @listing.bedrooms %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rent) %>:</strong></dt>
  <dd><%= @listing.rent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:squarefeet) %>:</strong></dt>
  <dd><%= @listing.squarefeet %></dd>
  <dt><strong><%= model_class.human_attribute_name(:smoking) %>:</strong></dt>
  <dd><%= @listing.smoking %></dd>
  <dt><strong><%= model_class.human_attribute_name(:heat) %>:</strong></dt>
  <dd><%= @listing.heat %></dd>
  <dt><strong><%= model_class.human_attribute_name(:electric) %>:</strong></dt>
  <dd><%= @listing.electric %></dd>
  <dt><strong><%= model_class.human_attribute_name(:flags) %>:</strong></dt>
  <dd><%= @listing.flags %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gas) %>:</strong></dt>
  <dd><%= @listing.gas %></dd>
  <dt><strong><%= model_class.human_attribute_name(:garbagecollction) %>:</strong></dt>
  <dd><%= @listing.garbagecollction %></dd>
  <dt><strong><%= model_class.human_attribute_name(:length) %>:</strong></dt>
  <dd><%= @listing.length %></dd>
  <dt><strong><%= model_class.human_attribute_name(:furnished) %>:</strong></dt>
  <dd><%= @listing.furnished %></dd>
  <dt><strong><%= model_class.human_attribute_name(:laundry) %>:</strong></dt>
  <dd><%= @listing.laundry %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parking) %>:</strong></dt>
  <dd><%= @listing.parking %></dd>
  <dt><strong><%= model_class.human_attribute_name(:pets) %>:</strong></dt>
  <dd><%= @listing.pets %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ltype) %>:</strong></dt>
  <dd><%= @listing.ltype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @listing.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:aptnum) %>:</strong></dt>
  <dd><%= @listing.aptnum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:building_name) %>:</strong></dt>
  <dd><%= @listing.building_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:landlord_id) %>:</strong></dt>
  <dd><%= @listing.landlord_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= @listing.image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:region) %>:</strong></dt>
  <dd><%= @listing.region %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              listings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_listing_path(@listing), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              listing_path(@listing),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
