<tr>
  <td class="review">
    <span class="content"><%= review.body %></span>
    <br />
    Rating (out of 5): <span class="rating"><%= review.rating.to_i %></span>
    <br />
    <span class="timestamp">
      Posted <%= time_ago_in_words(review.created_at) %> ago.
    </span>
    <span class="name">
      By <%= get_user(review.user_id).email %>.
    </span>
    <span class="helpfulness_button">
    	Helpful button goes here.
    </span>
    <span class="flag_button">
    	Flag button goes here.
    </span>

 	<% if signed_in? && (current_user.id == review.user_id) %>
	 		<%= link_to "delete", listing_review_path(review.listing_id, review.id),
	 							:method => :delete,
	                            :confirm => "Are you sure?",
	                            :title => "Delete '#{review.body}'" %>
	    
    <% end %>
  </td>
</tr>